@import "partials/colors";
@import "partials/borders";
@import "partials/images";
@import "modules/mixins";	
@import "bourbon/bourbon";


body {
	background: $color-white;
	font-family: $font-body;
	color: $color-font;
	padding:84px 0px 0px;
	position: relative;
}

header {
	a img {
		max-width: 100%;
	 	border: medium none;
		}
	.rbox {margin: 10px;}
}

#main_nav {
	@include size(auto 84px);
	@include margin-zero;
	@include border-none;
	@include border-radius(0px);
	@include background-image(linear-gradient(top, #3C4B6C 0%, #0E1B33 100%));
	@include box-shadow(0px 5px 8px rgba(31, 40, 63, 0.4));
	color: $color-white;
	ul{
		@include ul-li-reset;
	    li {
	    	@include ul-li-reset;
	    	padding: 0px 30px;
	    	a {
				@include padding-zero;
				@include margin-zero;
				display: block;
				font-size: 18px;
				line-height: 50px;
				font-weight: bold;
				color: rgba( $color-white, 0.6);
				line-height: 84px;
				&.active {
					color: $color-white;
					background-color: transparent;
				}
			}
	    }
	}
}

h1 {
	font-size: 55px;
	font-weight:bold;
	margin: 10px 20px 30px;
}

h2 {
	font-weight: 700;
	color: rgba($color-dark-blue, 0.8);
	margin: 20px 0px 30px;
	}

.navbar-header {
	margin: 17px 0px 0px;
}

#brand_img{
	@include padding-zero;
	margin-left: 0px;
}

#maincontainer {
	margin-top: 0px;
	@include padding-zero;
	&:after {clear: both;}
}

#inner_content_container {
	@include box-shadow(0px 0px 38px rgba(0, 0, 0, 0.3));
			margin: 0px 15%;
	.row {
		@include margin-zero;
		.col-md-4 {
			padding: 0px 4%;
		}
	}
}

footer {
	padding: 28px 0px;
	@include background-image(linear-gradient(top, #3C4B6C 0%, #0E1B33 100%));
	color: $color-white;
	.row {
		.col-md-4 {
			@include padding-zero;
			font-size: 10px;
		}
	}
}

#footer-links ul {
	@include ul-li-reset;
	color: $color-link-blue;

	li {
		@include ul-li-reset;
		&:not(:last-child){
			padding: 0px 20px 0px 0px;
		}
	}
}

.area {
	padding: 10px 20%;
	margin: 20px 0px 20px;
	>div {
		padding: 0px 5%;
	}

	h4 {
		font-weight: bold;
		margin-bottom: 20px;
	}
	.area-img {
		display: block;
		@include size(140px auto);
	}
	p {
		color: rgba($color-black, 0.7);

	}
}

.btn-link{
	@include btn-link;
	&:hover {
		background: $color-button;
		color: $color-white;
		text-decoration: none;
	}
}

#home {
	padding: 30px 0px;
	border-bottom: 1px solid $color-section-border-bottom;
	.area {
		padding: 20px 10px;
	}
	.img-thumbnail {
		border:none;
	}
}

#jobbot,
#events {
	> div:first-child{
		margin: 5% auto;
		@include size(5/12 100%);
		margin-bottom: -99999px;
  		padding-bottom: 99999px;
		img {
			position:absolute;
			right:100%;
		}
	}
}

#talentpool {
	> div:first-child{
		margin: 5% auto;
		@include size(5/12 100%);
		margin-bottom: -99999px;
  		padding-bottom: 99999px;
		img {
			position:absolute;
			left:100%;
		}
	}
}

#jobbot {
	overflow: hidden;
	border-top: 2px solid $color-white;
	border-bottom: 1px solid $color-section-border-bottom;
	background-color: $color-bbg-secondary;
	.jobbot-img {
		
	}
}

#talentpool{
	overflow: hidden;
	padding:15px 0px;
	@include margin-zero;
	border-top: 2px solid $color-white;
	border-bottom: 1px solid $color-section-border-bottom;
}

#events{
	overflow: hidden;
	border-top: 2px solid $color-white;
	border-bottom: 2px solid $color-section-border-bottom;
	background-color: $color-bbg-secondary;
	.events-info {
		border-bottom: 1px solid $color-section-border-bottom;
		margin: 0px 0px 30px;
		padding-bottom: 10px;
	}
	.next-event {
		padding:20px 0px 0px;
		.panel-date {
			@include box-shadow(0px 3px 3px rgba(0, 0, 0, 0.32));
			border: 3px solid transparent;
			@include border-radius(10px);
			@include size(70px 70px);
			.panel-heading {
				padding: 8px 15px;
				@include border-top-radius(10px);
				@include border-top-radius(10px);
				color: $color-white;
				background-color: $color-orange;
				h3 {
					font-size: 120%;
					font-weight: 800;
				}
			}
			.panel-body {
				font-size: 120%;
				padding-top: 3px;
				font-weight: 700;
			}
		}
		.event-details{
			margin-bottom: 10px;
			h3 {margin-top: 0px;}
			p{font-style: italic;}
			padding: 0px 20px;
			
		}
	}
}

#stats{
	line-height: 1.5;
	padding: 30px 15px;
	.container {width:90%;}
	.job-stats {
		color: $color-gray-dark;
		margin: 40px auto 0;
		padding: 0 0 80px;
		list-style: none;
		@include border-gray(bottom);
		li {
			float: none;
			border-bottom: 0;
			border-right: 1px solid $color-gray-2;
			padding-top: 25px;
			padding-bottom: 25px;
			font-size: 18px;
			display: inline-block;
			strong{
				font-size: 38px;
				line-height: 38px;
				font-weight: 400;
				display: block;
			}
		}
	}
	p {
		margin: 30px 0px;
	}
}


.right {
	text-align: right;
	> div {
		float:right;
	}
}


.left {
	text-align: left;
	> div {
		float:left;
	}
}


@media only screen and (max-width: 768px) {

	.area {
		padding: 10px 5%;
		@include margin-zero;
	}

	#events {
		.next-event{
			.panel-date {
				width:100%;
			}
		}
	}

	#main_nav_collapsed{
		position: relative;
		z-index: 1;
		background: $color-white;
		color: #00255D;
	}

	#inner_content_container {
		@include margin-zero;
	}
	.left > div, .right > div {
		text-align:center;
		float:none;
	}

	#jobbot,
	#events,
	#talentpool {
		> div:first-child{
			img {
				position:relative;
			}
		}
	}

	#stats {
		.job-stats {
			@include padding-zero;
			li{
				padding-top:0px;
				border:none;
			}
	}

}
}