$color-white: #fff;
$color-divarea: #eee; 
$color-inner-border: #B8BBC3;
$color-gray: #827E86;
$color-gray-blue: #434F67;
$color-link-blue: #3E6C9A;
$color-light-gray: #FBFBFB;
$color-orange: #EC7D00; 

$font-body: "Trebuchet MS",Arial,Helvetica,sans-serif;